

.imgBorder
{
    border: 5px solid #212529;
    border-radius: 25%;
    padding: 10px;
    background-color: #3498DB;
}

.imgBorder:active
{
    border: 5px solid #212529;
    border-radius: 25%;
    padding: 10px;
    background-color: #fff;
}

.imgSize-250
{
    width: 250px;
}

.projectThumbnail
{
	height: 200px;
	width: 100%;
	display: block;
}

#footerContainer
{
	background-color: #ecf0f1;
	height: 70px;
}

.footerText
{
	margin-top: 30px;
}
