/* Testing css for borders*/

/*
   shade 0 = #2E4272 = rgb( 46, 66,114) = rgba( 46, 66,114,1) = rgb0(0.18,0.259,0.447)
   shade 1 = #7887AB = rgb(120,135,171) = rgba(120,135,171,1) = rgb0(0.471,0.529,0.671)
   shade 2 = #4F628E = rgb( 79, 98,142) = rgba( 79, 98,142,1) = rgb0(0.31,0.384,0.557)
   shade 3 = #162955 = rgb( 22, 41, 85) = rgba( 22, 41, 85,1) = rgb0(0.086,0.161,0.333)
   shade 4 = #061539 = rgb(  6, 21, 57) = rgba(  6, 21, 57,1) = rgb0(0.024,0.082,0.224)
*/

body
{
	background-color:#7887AB;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14pt;
	
}

nav
{
	background-color: #162955
}

a
{
	color: black;
}

.nav-pills li a 
{
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.nav-pills li a:hover
{
	color:black;
}

#mypicture
{
	/*background-color: #4F628E;*/
}

#mainParagraph
{
	/*background-color: red;*/
}


#programmingImages
{
	/*background-color: #4F628E;*/
}

#programmingImages div div
{
	padding: 5px;
}

h2
{
	padding: 5px;
	font-size: 22pt;
	font-weight: bold;
}

h3
{
	background-color: #4F628E;
	font-size: 20pt; 
	font-weight: bold;
}

h4 
{
	font-style: italic;
	font-size: 18pt;
}

p
{
	padding: 5px;
}
