/* Testing css for borders*/

/*
   shade 0 = #2E4272 = rgb( 46, 66,114) = rgba( 46, 66,114,1) = rgb0(0.18,0.259,0.447)
   shade 1 = #7887AB = rgb(120,135,171) = rgba(120,135,171,1) = rgb0(0.471,0.529,0.671)
   shade 2 = #4F628E = rgb( 79, 98,142) = rgba( 79, 98,142,1) = rgb0(0.31,0.384,0.557)
   shade 3 = #162955 = rgb( 22, 41, 85) = rgba( 22, 41, 85,1) = rgb0(0.086,0.161,0.333)
   shade 4 = #061539 = rgb(  6, 21, 57) = rgba(  6, 21, 57,1) = rgb0(0.024,0.082,0.224)
*/

body
{

	/*************************** BACKGROUND COLOR FROM GENERATOR **********************/
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, black, gray); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, black, gray); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, black, gray); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, black, gray); /* Standard syntax */
	/**********************************************************************************/
	color: white;
	/*background-color:#7887AB;*/
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14pt;
	

	text-align: center;
	
}

.pageContent
{
	text-align: left;
	max-width: 1280px;
	margin: 0 auto;
}

nav
{

	padding-bottom: 20px;
}

a
{
	color: black;
}

.nav-pills li a 
{
	text-decoration: none;
	color: white;
	font-weight: bold;
	background-color: #162955;
}
.nav-pills li a:hover
{
	color:black;
}

#mypicture
{
	/*background-color: #4F628E;*/
	-moz-box-shadow: -5px -5px 5px black;
	-webkit-box-shadow: -5px -5px 5px black;
	box-shadow: -5px -5px 5px black;
}

#mypictureContainer
{
	/*background-color: #4F628E;*/
}

#mainParagraph
{
	/*background-color: red;*/
}


#programmingImages
{
	/*background-color: #4F628E;*/
}

#programmingImages div div
{
	padding: 5px;
}

h2
{
	padding: 5px;
	font-size: 22pt;
	font-weight: bold;
}

h3
{
	background-color: #4F628E;
	font-size: 20pt; 
	font-weight: bold;
	padding: 5px;
}

h4 
{
	font-style: italic;
	font-size: 18pt;
}

p
{
	padding: 5px;
}

img .scale-with-grid 
{
	max-width: 100%;
	height: auto; 
}

.header
{
	padding:5px;
}
